/* colors */
header nav {
  background-color: #f1a661; }
  header nav .mod-navbar ul {
    justify-content: flex-end;
    width: 100%; }
  header nav div a .logo {
    width: 160px;
    object-fit: cover; }
  header nav .nav-link {
    color: black;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px; }
    header nav .nav-link:hover {
      background-color: #fdeedc; }

.footer {
  background-color: black;
  width: 100%;
  height: 150px;
  padding: 20px 0;
  text-align: center; }
  .footer .redes-principal {
    display: block;
    text-align: center; }
    .footer .redes-principal a {
      display: inline-block;
      min-height: 40px;
      width: 40px;
      background-color: #f1a661;
      margin: 0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: white;
      transition: all 0.5s ease; }
      .footer .redes-principal a:hover {
        color: #f1a661;
        padding-left: 6px; }
  .footer .titulo-redes {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #f1a661;
    padding-bottom: 10px;
    display: inline-block; }
  .footer .redes-sociales {
    background-color: black;
    font-size: 18px;
    text-decoration: none;
    color: #f1a661;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease; }
    .footer .redes-sociales .fab {
      color: white; }
      .footer .redes-sociales .fab:hover {
        color: black; }

.slogan {
  margin: auto;
  display: table;
  margin-top: 30px;
  margin-bottom: 30px; }
  .slogan h1 {
    position: relative;
    float: left;
    background: radial-gradient(circle at 0% 0%, #ffd600 0, #ffc700 10%, #ffb600 20%, #ffa304 30%, #ff9016 40%, #f37b1f 50%, #e56725 60%, #d7562a 70%, #cb462e 80%, #c03832 90%, #b62c37 100%);
    color: black;
    font-size: 2.5em; }
    .slogan h1 span {
      position: absolute;
      right: 0;
      width: 0;
      background: #fdeedc;
      border-left: 1px solid #000;
      animation: escribir 3s steps(25) infinite alternate; }

@keyframes escribir {
  from {
    width: 100%; }
  to {
    width: 0; } }

.carousel-inner {
  height: 100%;
  width: 100%;
  margin: auto;
  object-fit: cover;
  overflow: hidden; }

.productos {
  color: black;
  font-family: "Goldman", cursive;
  font-size: 170%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.container_products h3 {
  text-align: center;
  font-size: 130%; }

.wrapper_productos .titulo-productos {
  text-align: center;
  margin-top: 25px;
  font-size: 2,5em; }

.wrapper_productos .container_products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 26rem;
  gap: 1rem;
  margin: 2rem; }
  .wrapper_productos .container_products div {
    display: flex;
    flex-direction: column; }
    .wrapper_productos .container_products div img {
      height: 350px;
      object-fit: cover;
      overflow: hidden; }

.wrapper_productos .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem; }
  .wrapper_productos .content h2 {
    text-align: center;
    font-size: 130%; }
    .wrapper_productos .content h2 h4 {
      text-align: center; }

.tabla {
  margin: auto;
  width: fit-content;
  background-color: white;
  width: 50%;
  height: 300px;
  line-height: 50px;
  font-family: "Goldman", cursive; }

.container_tabla {
  background-color: #fdeedc;
  margin-bottom: 30px;
  margin-top: 30px; }

.linea1 {
  background-color: #f1a661; }

.logozapatilla {
  margin: auto;
  width: fit-content;
  margin-bottom: 30px; }

.promociones {
  font-size: 2,5em;
  color: black;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.wrapper_contacto {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 4rem auto;
  background-image: radial-gradient(#f1a661 1.45px, #e5e5f7 1.45px);
  background-size: 29px 29px;
  box-shadow: 10px 10px 27px -1px rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 2rem; }
  .wrapper_contacto form {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .wrapper_contacto form div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem; }
      .wrapper_contacto form div .enviar {
        width: 200px;
        margin: 0 auto; }

.container-nosotros h1 {
  font-size: 2,5em;
  color: black;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.container-nosotros .row {
  background-color: #9c9c9c;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.75);
  margin: auto;
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 30px; }
  @media (max-width: 768px) {
    .container-nosotros .row {
      margin: auto;
      grid-template-columns: 1fr; } }
  .container-nosotros .row .izquierda {
    overflow: hidden; }
    .container-nosotros .row .izquierda img {
      border-radius: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .container-nosotros .row .derecha {
    display: flex;
    align-items: center; }
    .container-nosotros .row .derecha .parrafo {
      padding-left: 20px; }
      .container-nosotros .row .derecha .parrafo p {
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 15px; }
        @media (max-width: 991px) {
          .container-nosotros .row .derecha .parrafo p {
            padding-left: 0; } }

.container-nosotros .metodos_pago {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto; }
  .container-nosotros .metodos_pago img {
    background-color: #e5e5f7;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.75); }
    .container-nosotros .metodos_pago img:hover {
      opacity: 0.5; }

.container-nosotros .mapa {
  margin-top: 50px;
  margin-bottom: 50px; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  background-color: #fdeedc;
  font-family: "Goldman", cursive; }

/* wsp button */
.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #f1a661;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100; }
  .btn-wsp .fab {
    color: white; }
    .btn-wsp .fab:hover {
      color: black; }
