.wrapper_productos { 
    .titulo-productos {
        text-align: center;
        margin-top: 25px;
        font-size: 2,5em;
    }    
    .container_products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: 26rem;
        gap: 1rem;
        margin: 2rem;
        div {
            display: flex;
            flex-direction: column;
            img {
                height: 350px;
                object-fit: cover;
                overflow: hidden;
            }
        }    
    }        
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        h2 {
            text-align: center;
            font-size: 130%;
            h4 {
                text-align: center;
            }
        }    
    }
}  