@import "variables";
@import "navbar";
@import "footer";
@import "inicio";
@import "productos";
@import "tabla";
@import "contacto";
@import "nosotros";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
  
body {
    background-color: #fdeedc;
    font-family: "Goldman", cursive;
}

/* wsp button */
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #f1a661;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    .fab{
        color: white;
        &:hover{
            color: black;
        }
    }
}